/*    SETEAMOS EL INDEX HTML       */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*html {
    font-size: 62.5%;
}*/

/* ------ENCABEZADO-------------- */

header {
    /* border: 2px dashed rgb(255, 0, 0); */
    height: 50vh;
    background-image: url(../img/encabezado.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head {
    /* border: 3px dashed cyan; */
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head_nombre {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2,5rem;
}

.head_foto {
    border-radius: 10px;
    width: 50vw;

    position: relative;
    top: 60px;
}

/* -------------------------- */
/* ------SECCION 2----------- */
/* -------------------------- */

.seccion2 {
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 40px 0;
    
}

.seccion2 .box
{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.seccion2 .box::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.seccion2 .box::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.seccion2 .box:hover:before,
.seccion2 .box:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}

.seccion2 .box:nth-child(1):before,
.seccion2 .box:nth-child(1):after
{
  background: linear-gradient(315deg, #ffbc00, #ff0058)
}

.seccion2 .box:nth-child(2):before,
.seccion2 .box:nth-child(2):after
{
  background: linear-gradient(315deg, #03a9f4, #ff0058)
}

.seccion2 .box:nth-child(3):before,
.seccion2 .box:nth-child(3):after
{
  background: linear-gradient(315deg, #4dff03, #00d0ff)
}

.seccion2 .box span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.seccion2 .box span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.seccion2 .box:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.seccion2 .box span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.seccion2 .box:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.seccion2 .box .content
{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: rgb(0, 233, 214);
}

.seccion2 .box:hover .content
{
  left: -25px;
  padding: 60px 40px;
}

.seccion2 .box .content h2
{
  font-size: 2em;
  color: rgb(34, 131, 211);
  margin-bottom: 10px;
}

.seccion2 .box .content p
{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.seccion2 .box .content a
{
  display: inline-block;
  font-size: 1.1em;
  color: rgb(100, 194, 201);
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.seccion2 .box .content a:hover
{
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

/*------------------------------*/
/*------------iframe------------*/
/*------------------------------*/

.video_div{
/*-----border: 2px red dashed;------*/
height: 300px;
background-color: rgb(55,97,117);
/*-----------------------------*/
/*------------display----------*/
/*-----------------------------*/



display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}

#video1{width:350px;
height: 195px;
border: 5px white solid;
border-radius: 30px;


box-shadow: 4px 6px 12px -1px rgba(0,0,0,0.63);
-webkit-box-shadow: 4px 6px 12px -1px rgba(0,0,0,0.63);
-moz-box-shadow: 4px 6px 12px -1px rgba(0,0,0,0.63);
}

.paralax{
    border: 2px solid purple ;
    height: 600px;
    background-image:url(../img/paisaje.jpg) ;
    background-size: cover;
background-attachment: fixed;




    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


.hola{color: beige;
margin-right:50px;
font-size: 20px;
font-family: 'Ubuntu', sans-serif;}


.color{color: beige;
    margin-right:50px;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
text-shadow: 2px 2px 2px black;}




#paralax_link
    {color: beige;
        /*border: 1px dashed red;*/
        margin-right:50px;
        margin-top: 20px;
        font-size: 20px;
        border-radius: 4px;
        text-decoration: none;
        font-family: 'ubuntu',sans-serif;
width: 70px;
height: 20px;
background-color: cadetblue;
box-shadow: 2px 2px 2px black;


display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}



#paralax_link:hover {
    background-color: darkred;
}






footer{/*border: 2px dashed orange;*/
height: 500px;
background-color: rgb(14, 116, 82);}