@media (min-width: 500px) {

    .head {
        height: 70%;
        width: 80vw;
    }

    .head_nombre {
        font-size: 2rem;
        text-align: center;
    }

    .head_foto {
        width: 25vw;
    
        position: absolute;
        top: 180px;
    }

}